
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 10px;
    padding: 5px 20px;
}
nav li:hover{
    background-color: lightgray;
}
nav li a{
    text-decoration: none;
}
nav >ul >li:hover >ul{
    display: block;
    position: absolute;
    background-color: lightyellow;
    padding: 0;
}
.dropdown{
    display: none;
}
.dropdown li{
    margin: 0;
    padding: 0 20px;
}